<script type="text/javascript">
    // ------------------------------------------------------------
    (function() {
      RED.nodes.registerType('io23.saturation', {
        category: 'io23',
        defaults: {
          name: {value: ""},
          saturation: {value: 100, required: false},
          inProperty: {value: "channels", required: true},
          outProperty: {value: "channels", required: true},
        },
        inputs: 1,
        outputs: 1,
        icon: "color.png",
        paletteLabel: "io23saturation",
        label: function (){return this.name || "io23saturation";},
        // --------------------------------------------------------
        oneditprepare: function(){
            $("#node-input-inProperty").typedInput({
                type:"msg",
                types:["msg"],
                typeField: "#node-input-inProperty"
            });            
            $("#node-input-outProperty").typedInput({
                type:"msg",
                types:["msg"],
                typeField: "#node-input-outPropertyType"
            });            
        }
      });
    })();
    // ------------------------------------------------------------
    
</script>
    
<script type="text/x-red" data-template-name="io23.saturation">
    <div class="form-row">
        <label for="node-input-name">Name</label>
        <input type="text" id="node-input-name">
    </div>
    <div class="form-row">
        <label for="node-input-saturation">Saturation (%)</label>
        <input type="number" id="node-input-saturation">
    </div>

    <h3>Input</h3>
    <div class="form-row">
        <label for="node-input-inProperty">Property</label>
        <input type="text" id="node-input-inProperty" style="width:calc(70% - 1px)">
    </div>
    <h3>Output</h3>
    <div class="form-row">
        <label for="node-input-outProperty">Property</label>
        <input type="text" id="node-input-outProperty" style="width:calc(70% - 1px)">
    </div>

</script>
    
<script type="text/x-red" data-help-name="io23.saturation">
    <h3>Changes saturation for all channels</h3>
    <p>
        The incoming <code>Input Property</code> array needs to have the following signature:<br>
        <code>[redValue,greenValue,blueValue,...]</code><br>
        This node will change the saturation on all channels set in <code>Input Property</code> to the value set in <code>Saturation</code>.<br>
        The saturated values will be returned in the <code>Ouput Property</code>.<br>
        The saturation value can be set in the configuration, or in the node's incoming <code>msg.saturation</code>.
    </p>

    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt>input property<span class="property-type">array</span></dt>
        <dt>saturation<span class="property-type">number</span></dt>
    </dl>
    <h3>Outputs</h3>
    <dl class="message-properties">
        <dt>output property<span class="property-type">array</span></dt>
    </dl>
</script>
    