<script type="text/javascript">
    // ------------------------------------------------------------
    (function() {
      RED.nodes.registerType('io23.fadeTo', {
        category: 'io23',
        defaults: {
          name: {value: ""},
          time: {value: 500, required: true},
          sendInterval: {value: 10, required: true},
          from: {value: "channels", required: true},
          to: {value: "channelsTo", required: true},
          outProperty: {value: "channels", required: true},
        },
        inputs: 1,
        outputs: 1,
        icon: "color.png",
        paletteLabel: "io23fadeTo",
        label: function (){return this.name || "io23fadeTo";},
        // --------------------------------------------------------
        oneditprepare: function(){
            $("#node-input-from").typedInput({
                type:"msg",
                types:["msg"],
                typeField: "#node-input-fromType"
            });            
            $("#node-input-to").typedInput({
                type:"msg",
                types:["msg"],
                typeField: "#node-input-toType"
            });            
            $("#node-input-outProperty").typedInput({
                type:"msg",
                types:["msg"],
                typeField: "#node-input-outPropertyType"
            });            
        }
      });
    })();
    // ------------------------------------------------------------
    
</script>
    
<script type="text/x-red" data-template-name="io23.fadeTo">
    <div class="form-row">
        <label for="node-input-name">Name</label>
        <input type="text" id="node-input-name">
    </div>
    <div class="form-row">
        <label for="node-input-time">Time (ms)</label>
        <input type="number" id="node-input-time">
    </div>
    <div class="form-row">
        <label for="node-input-sendInterval">Send interval (ms)</label>
        <input type="number" id="node-input-sendInterval">
    </div>

    <h3>Input</h3>
    <div class="form-row">
        <label for="node-input-from">Fade From</label>
        <input type="text" id="node-input-from" style="width:calc(70% - 1px)">
    </div>
    <div class="form-row">
        <label for="node-input-to">Fade To</label>
        <input type="text" id="node-input-to" style="width:calc(70% - 1px)">
    </div>

    <h3>Output</h3>
    <div class="form-row">
        <label for="node-input-outProperty">Property</label>
        <input type="text" id="node-input-outProperty" style="width:calc(70% - 1px)">
    </div>

</script>
    
<script type="text/x-red" data-help-name="io23.fadeTo">
    <h3>Fades channels between two values</h3>
    <p>
        The incoming <code>Fade From</code> and <code>Fade To</code> arrays need to have the following signature:<br>
        <code>[redValue,greenValue,blueValue,...]</code><br>
        This node will fade all channels set in <code>Fade From</code> to the values in <code>Fade To</code> in the specified time frame.<br>
        For each step it will send an <code>Ouput Property</code> object to the next node (i.e. as input for <code>io23player</code>).<br>
        The amount of steps this node will send fading data is <code>time / interval</code>. When all fading messages are sent, this node will send a final
        message with <code>msg.status</code> set to "done".
    </p>

    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt>fade from<span class="property-type">array</span></dt>
        <dt>fade to<span class="property-type">array</span></dt>
    </dl>
    <h3>Outputs</h3>
    <dl class="message-properties">
        <dt>output property<span class="property-type">array</span></dt>
    </dl>
</script>
    