<script type="text/javascript">
// ------------------------------------------------------------
(function() {
  RED.nodes.registerType('io23.player', {
    category: 'io23',
    defaults: {
      name: {value: ""},
      inProperty: {value: "channels", required: true},
      device:  {type:"io23.artnet",required: false},
      devices: {value:"", required: false},
      port: {value: 6454, required: true},
      forwardState: {value: false, required: true}
    },
    inputs: 1,
    outputs: 1,
    icon: "color.png",
    paletteLabel: "io23player",
    label: function (){return this.name || "io23player";},
    // --------------------------------------------------------
    oneditprepare: ()=>{
      $("#node-input-inProperty").typedInput({
          type:"msg",
          types:["msg"],
          typeField: "#node-input-inPropertyType"
      });        
      $("#button-add-device").on("click",()=>{
        var deviceId = ($("#node-input-device option:selected").val());
        if (!deviceId || deviceId=="_ADD_") return;
        var deviceList = $("#node-input-devices").val().split(",");
        if (!deviceList.includes(deviceId)) deviceList.push(deviceId);
        $("#node-input-devices").val(deviceList.join(","));
        listDevices();
      });
      listDevices();
    },
    // --------------------------------------------------------
    oneditsave:()=>{

    }
    // --------------------------------------------------------
  });
})();
// ------------------------------------------------------------
function listDevices () {
  $("#device-list").empty();
  var deviceList = $("#node-input-devices").val().split(",");
  deviceList=deviceList.filter((el)=>{return el!=null && el!=""});
  deviceList=deviceList.map((el)=>{return RED.nodes.node(el)});
  deviceList=deviceList.filter((el)=>{return el!=null});
  $("#node-input-devices").val(deviceList.map((el)=>{return el.id}).join(","));
  deviceList.sort((a,b)=>{return parseInt(a.startUniverse) >= parseInt(b.startUniverse) ? 1:-1});
  deviceList.forEach((device)=>{
    if (!device) return;
    var devline = `<tr><td style="text-align: center;">${device.host}</td><td style="text-align: center;">${device.startUniverse}</td><td style="text-align: center;">${device.endUniverse}</td><td style="text-align: center;">${device.leds}</td><td><a onclick="removeDevice('${device.id}');" class="red-ui-button red-ui-button-small red-ui-editableList-addButton" style="margin-top: 4px;"><i class="fa fa-times"></i></a></td></tr>`;
    $("#device-list").append(devline);
  });
}
// ------------------------------------------------------------
function removeDevice(id) {
  var deviceList = $("#node-input-devices").val().split(",");
  deviceList=deviceList.filter((el)=>{return el!=id});
  $("#node-input-devices").val(deviceList.join(","));
  listDevices();
}
// ------------------------------------------------------------

</script>

<script type="text/x-red" data-template-name="io23.player">
<div class="form-row">
    <label for="node-input-name">Name</label>
    <input type="text" id="node-input-name">
</div>
<div class="form-row">
  <label for="node-input-port">Port</label>
  <input type="number" id="node-input-port">
</div>
<div class="form-row">
  <label for="node-input-inProperty">Property</label>
  <input type="text" id="node-input-inProperty" style="width:calc(70% - 1px)">
</div>   
<div class="form-row">
  <label for="node-input-forwardState">Forward State</label>
  <input type="checkbox" id="node-input-forwardState" style="width: 62px;">
</div>

<div class="form-row" style="border: 1px solid #ccc; border-radius: 5px; padding: 10px 10px 10px 10px;">
    <label>Device List</label> 
    <table style="width: 100%">
      <tr>
        <th style="text-align: center;">Host</th>
        <th style="text-align: center;">Start</th>
        <th style="text-align: center;">End</th>
        <th style="text-align: center;">Leds</th>
        <th style="text-align: center;">&nbsp;</th>
      </tr>
      <tbody id="device-list"></tbody>
    </table>
    <input type="hidden" id="node-input-devices">

</div>  

<div class="form-row" style="border: 1px solid #ccc; border-radius: 5px; padding: 10px 10px 10px 10px;">
  <div class="form-row">
    <label for="node-input-device">Device</label>
    <input type="text" id="node-input-device">
  </div>
  <div class="form-row">
    <label for="node-input-device">Add To List</label>
    <a id="button-add-device" class="red-ui-button red-ui-button-small red-ui-editableList-addButton" style="margin-top: 4px;"><i class="fa fa-plus"></i> add</a>  
  </div>
</div>
</script>

<script type="text/x-red" data-help-name="io23.player">
  <h3>Sends Artnet data to configured devices</h3>
    <p>
      The incoming <code>Input Property</code> array needs to have the following signature:<br>
      <code>[redValue,greenValue,blueValue,...]</code><br>
      This node will distribute the incoming channels into the corresponding universes (max 512 channels per universe) 
      and send Artnet UDP packets to the individual devices.
    </p>

    <h3>Inputs</h3>
    <dl class="message-properties">
      <dt>Input Property<span class="property-type">array</span></dt>
    </dl>
    <h3>Outputs</h3>
    <dl class="message-properties">
      If "Forward State" is set, every incoming <code>msg</code> will be forwarded. Else, only messages not containing a <code>Input Property</code> object will be sent out.<br>
      Also, message objects with <code>status</code> set to "done" will be forwarded to the output.
    </dl>
</script>
