<script type="text/javascript">
    // ------------------------------------------------------------
    (function() {
      RED.nodes.registerType('io23.imgToChn', {
        category: 'io23',
        defaults: {
          name: {value: ""},
          source: {value: null, required: false},
          cropX: {value: null, required: false},
          cropY: {value: null, required: false},
          outProperty: {value: "channels", required: true},
        },
        inputs: 1,
        outputs: 1,
        icon: "color.png",
        paletteLabel: "io23imgToChn",
        label: function (){return this.name || "io23imgToChn";},
        // --------------------------------------------------------
        oneditprepare: function(){
            $("#node-input-outProperty").typedInput({
                type:"msg",
                types:["msg"],
                typeField: "#node-input-outPropertyType"
            });            
        }        
        // --------------------------------------------------------
      });
    })();
    // ------------------------------------------------------------
    
</script>
    
<script type="text/x-red" data-template-name="io23.imgToChn">
    <div class="form-row">
        <label for="node-input-name">Name</label>
        <input type="text" id="node-input-name">
    </div>
    <div class="form-row">
        <label for="node-input-source">Source File / URL</label>
        <input type="text" id="node-input-source">
    </div>
    <div class="form-row">
        <label for="node-input-cropX">Crop X</label>
        <input type="number" id="node-input-cropX">
    </div>
    <div class="form-row">
        <label for="node-input-cropY">Crop Y</label>
        <input type="number" id="node-input-cropY">
    </div>
    <h3>Output</h3>
    <div class="form-row">
        <label for="node-input-outProperty">Property</label>
        <input type="text" id="node-input-outProperty" style="width:calc(70% - 1px)">
    </div>    
</script>
    
<script type="text/x-red" data-help-name="io23.imgToChn">
    <h3>Transforms an image (png, jpg) into channel values</h3>
    <p>
        Specify a source image (png, jpg) from the file system or an URL in the configuration or as <code>msg.source</code> input parameter.<br>
        The source file will then be loaded / downloaded, cropped according to the config crop X and crop Y or incoming <code>msg.cropX</code> and <code>msg.cropY</code>.<br>
        It will then be decomposed into rgb values and sent out as <code>Output Property</code> to be processed by the <code>io23player</code> node.<br>
        If no crop should be applied to the image, set cropX and cropY to 0.
    </p>

    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt>msg.source<span class="property-type">string</span></dt>
        <dt>msg.cropX<span class="property-type">number</span></dt>
        <dt>msg.cropY<span class="property-type">number</span></dt>
    </dl>
    <h3>Outputs</h3>
    <dl class="message-properties">
        <dt>Output Property<span class="property-type">array</span></dt>
    </dl>
</script>
    