<script type="text/javascript">
    RED.nodes.registerType('io23.artnet',{
        category: 'config',
        inputs: 1,
        outputs: 0,
        icon: "color.png",
        paletteLabel: "io23artnet",        
        defaults: {
            name: {value: ""},
            host: {value:"10.0.0.20", required:true},
            leds: {value: 300, required: true, validate:RED.validators.number()},
            startUniverse: {value: 0, required: true, validate:RED.validators.number()},
            universeCount: {value: 1, required: true, validate:RED.validators.number()},
            endUniverse:   {value: 0, required: true, validate:RED.validators.number()},
        },
        label: function() {return this.name || `[H:${this.host}] [SU:${this.startUniverse}] [EU:${this.endUniverse}]`;}
    });
    function calculateUniverses(){
        var startUniverse = parseInt($("#node-config-input-startUniverse").val());
        var leds = parseInt($("#node-config-input-leds").val());
        var universeCount = Math.ceil((leds*3) / 512);
        var endUniverse = startUniverse + universeCount -1;

        $("#node-config-input-endUniverse").val(endUniverse);
        $("#node-config-input-universeCount").val(universeCount);
    }
</script>

<script type="text/x-red" data-template-name="io23.artnet">
    <div class="form-row">
        <label for="node-config-input-name">Name</label>
        <input type="text" id="node-config-input-name">
    </div>    
    <div class="form-row">
        <label for="node-config-input-host"><i class="icon-bookmark"></i> Host</label>
        <input type="text" id="node-config-input-host">
    </div>
    <div class="form-row">
        <label for="node-config-input-leds""><i class="icon-bookmark"></i> Leds</label>
        <input type="number" id="node-config-input-leds" onchange="calculateUniverses();" onkeyup="calculateUniverses();">
    </div>
    <div class="form-row">
        <label for="node-config-input-startUniverse"><i class="icon-bookmark"></i> Start Universe</label>
        <input type="number" id="node-config-input-startUniverse" onchange="calculateUniverses();" onkeyup="calculateUniverses();">
    </div>
    <div class="form-row">
        <label for="node-config-input-endUniverse"><i class="icon-bookmark"></i> End Universe</label>
        <input type="number" id="node-config-input-endUniverse" readonly>
    </div>
    <div class="form-row">
        <label for="node-config-input-universeCount"><i class="icon-bookmark"></i> Universe Count</label>
        <input type="number" id="node-config-input-universeCount" readonly>
    </div>
</script>
