<script type="text/javascript">
    // ------------------------------------------------------------
    (function() {
      RED.nodes.registerType('io23.matrix', {
        category: 'io23',
        defaults: {
          name: {value: ""},
          inProperty: {value: "channels", required: true},
          outProperty: {value: "channels", required: true},
          rows: {value: 32, required: false},
          columns: {value: 8, required: false},
        },
        inputs: 1,
        outputs: 1,
        icon: "color.png",
        paletteLabel: "io23matrix",
        label: function (){return this.name || "io23matrix";},
        // --------------------------------------------------------
        oneditprepare: function(){
            $("#node-input-inProperty").typedInput({
                type:"msg",
                types:["msg"],
                typeField: "#node-input-inProperty"
            });            
            $("#node-input-outProperty").typedInput({
                type:"msg",
                types:["msg"],
                typeField: "#node-input-outPropertyType"
            });            
        }
      });
    })();
    // ------------------------------------------------------------
    
</script>
    
<script type="text/x-red" data-template-name="io23.matrix">
    <div class="form-row">
        <label for="node-input-name">Name</label>
        <input type="text" id="node-input-name">
    </div>
    <div class="form-row">
        <label for="node-input-rows">Rows</label>
        <input type="number" id="node-input-rows">
    </div>
    <div class="form-row">
        <label for="node-input-columns">Columns</label>
        <input type="number" id="node-input-columns">
    </div>

    <h3>Input</h3>
    <div class="form-row">
        <label for="node-input-inProperty">Property</label>
        <input type="text" id="node-input-inProperty" style="width:calc(70% - 1px)">
    </div>
    <h3>Output</h3>
    <div class="form-row">
        <label for="node-input-outProperty">Property</label>
        <input type="text" id="node-input-outProperty" style="width:calc(70% - 1px)">
    </div>

</script>
    
<script type="text/x-red" data-help-name="io23.matrix">
    <h3>Applies incoming channels to a matrix</h3>
    <p>
        The incoming <code>Input Property</code> array needs to have the following signature:<br>
        <code>[redValue,greenValue,blueValue,...]</code><br>
        This node will convert the incoming channel array into a snake matrix.
    </p>

    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt>input property<span class="property-type">array</span></dt>
        <dt>rows<span class="property-type">number</span></dt>
        <dt>columns<span class="property-type">number</span></dt>
    </dl>
    <h3>Outputs</h3>
    <dl class="message-properties">
        <dt>output property<span class="property-type">array</span></dt>
    </dl>
</script>
    